.ap-wrapper
    .ap-panel
        .ap-panel--left
            .ap-panel--month August
            .ap-panel--line
            .ap-panel--date 01
        .ap-panel--image(style="background-image: url(https://s-media-cache-ak0.pinimg.com/originals/6d/40/b9/6d40b92b8002a0578002ff81dfa7042b.jpg)")
        .ap-panel--content
            .ap-content--header
                .ap-line
                span.ap-author Romelu Lukaku
            .ap-content--title The Mystery path
            .ap-content--time 
                i.fa.fa-clock-o
                span 5 minutes read
            .ap-content--text
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque hic ad quae ipsa quisquam quasi obcaecati asperiores. Cupiditate fugit quia, totam commodi dolorum ipsum eius. Veniam minima facere culpa est. ipsum dolor sit amet, consectetur adipisicing elit. Fuga unde odit animi officia, ipsam quas tempore quaerat obcaecati ipsa deserunt optio autem quod eius error cupiditate officiis libero hic accusamus!
                a(href="#").ap-play
                    i.fa.fa-play
            .ap-content--footer
                a(href="#") Prev
                a(href="#") Next