.bm-wrapper
	.bm-panel
		.bm-panel--content
			.bm-panel--header
				span Lorem ipsum doler
				h2 Become a member
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo modi aut tempore quis ipsa deserunt assumenda, natus cumque quia ducimus?
			.bm-panel--signup
				a(href="").bm-social--signup.bm-social--signup__googleplus
					.bm-social--signup__icon
						i.fa.fa-google-plus
					.bm-social--signup__text
						span Sign Up using google +
				a(href="").bm-social--signup.bm-social--signup__facebook
					.bm-social--signup__icon
						i.fa.fa-facebook
					.bm-social--signup__text
						span Sign Up using Facebook
				a(href="").bm-social--signup.bm-social--signup__twitter
					.bm-social--signup__icon
						i.fa.fa-twitter
					.bm-social--signup__text
						span Sign Up using Twitter

			.bm-panel--footer
				p You can also sign in using an email adress
				a(href="") Use Your Email <i class="fa fa-arrow-right"></i>
		.bm-panel--thumbnail