.ca-container
    .ca-card
        .ca-card--thumb(style="background-image: url(http://gdj.graphicdesignjunction.com/wp-content/uploads/2011/12/grey-movie-poster.jpg)")
        .ca-card--meta
            .ca-card--icon: i.fa.fa-shopping-cart
            .ca-card--rate: span 9.1
        .ca-card--bg
        .ca-card--content
            .ca-card--title The Grey
            .ca-card--desc After their plane crashes in Alaska, six oil workers are led by a skilled huntsman to survival, but a pack of merciless wolves haunts their every step.