.cp-wrapper
	.cp-panel
		.cp-card
			.cp-card--thumbnail
			.cp-card--content
				h3.cp-card--course Project Management
				.cp-card--price $28.99
				.cp-card--list
					.cp-card--students.cp-card--list__item
						i.fa.fa-users.cp-card--icon
						.cp-card--number 5.8k
						.cp-card--name Students
					.cp-card--rating.cp-card--list__item
						i.fa.fa-star.cp-card--icon
						.cp-card--number 5.0
						.cp-card--name Rating
					.cp-card--lectures.cp-card--list__item
						i.fa.fa-graduation-cap.cp-card--icon
						.cp-card--number 37
						.cp-card--name Lectures
			a(href="#").cp-card--link
				i.fa.fa-angle-down

		.cp-panel--bottom
			a(href="#")
				i.fa.fa-angle-up
				span Swipe up to see course contents
