header.page-header
	.page-header--30
		.page-header--logo
			h1 Search Recipe
	.page-header--70
		nav.page-header--nav
			ul.page-header--nav__list
				li: a(href="index.html").active Поиск
				li: a(href="recomendations.html") Рекомендации
				li: a(href="featured.html") Featured
				li: a(href="blog.html") Блог
				li: a(href="About.html") О нас

