.li-wrapper
    .li-panel
        .li-panel--left
            h2.li-panel--title Don't Have an Account?
            p Lorem ipsum dolor sit amet. ipsum dolor sit amet, consectetur adipisicing elit. Quia, placeat!
            a(href="#").li-sign-up Sign Up
        .li-panel--right
            h2.li-panel--title Log In
            form.li-panel--form
                .li-form--group
                    input(type="email" placeholder="E-mail")
                .li-form--group
                    input(type="password" placeholder="password")
                .li-form--bottom
                    a(href="") Forgot password?
                    button(type="submit").li-submit--btn Log In
                