.hh-login
    .hh-login--content
        .hh-login--header
            .hh-login--logo
                img(src="https://wiki.duraspace.org/download/attachments/31655033/duracloud_logo_12in.png?version=1&modificationDate=1329183208810&api=v2", alt="")
            .hh-login--text Welcome to HouseHoot
        .hh-login--body
            form(action="" method="POST").hh-login--form
                .hh-login--group
                    input(type="e-mail" placeholder="Email...")
                .hh-login--group
                    input(type="password" placeholder="Password...")
                .hh-login--group
                    a(href="#", title="Forgot your Pass?") Forgot your Password?
                .hh-login--group
                    button(type="submit") Sign In 
        .hh-login--footer
            a(href="#", title="title") Need an account?
            a(href="#", title="title") Learn More