.mc-wrapper
    .mc-headers
        .mc-b--header
            .mc-b--top
                .mc-nav--toggle
                    i.fa.fa-bars
                .mc-h--logo
                    span Multicolor
                    p user interface kit
                ul.mc-b--social
                    li: a(href=""): i.fa.fa-twitter
                    li: a(href=""): i.fa.fa-facebook
                    li: a(href=""): i.fa.fa-github
            .mc-b--bottom
                nav.mc-b--nav
                    ul.mc-nav--list
                        li: a(href="") Woman
                        li: a(href="") Man
                        li: a(href="") Lookbook
                        li: a(href="") Sale
                        li: a(href="") Blog
                        li: a(href="") Contact
        .mc-c--header
            .mc-nav--toggle
                i.fa.fa-bars
            nav.mc-c--nav
                ul.mc-nav--list
                    li: a(href="") Woman
                    li: a(href="") Man
                    li: a(href="") Lookbook
                    li.mc-h--logo
                        span Multicolor
                        p user interface kit
                    li: a(href="") Sale
                    li: a(href="") Blog
                    li: a(href="") Contact
            ul.mc-b--social
                li: a(href=""): i.fa.fa-twitter
                li: a(href=""): i.fa.fa-facebook
                        
                        