.su-wrapper
    .su-panel
        .su-panel--half.su-panel--left
            .su-panel--logo
                i.fa.fa-graduation-cap
            .su-panel--title Plan your activites and control your progress online
        .su-panel--half.su-panel--right
            .su-panel--top
                ul.su-sign--toggle
                    li.su-sign--in Sign In
                    li.su-sign--up.active Sign Up
            .su-panel--content
                .su-panel--title Sign Up for FREE!
                form.su-panel--form
                    .su-form--group
                        label Full Name
                        input(type="text" placeholder="Enter your full name")
                    .su-form--group
                        label Password
                        input(type="password" placeholder="********")
                    .su-form--group
                        label E-mail
                        input(type="email" placeholder="Your e-mail goes here")
                    .su-form--group.su-statements
                        input(type="checkbox")
                        span I agree all statements of
                        a(href="")  terms of service
                    .su-form--group.su-sign--btn
                        button(type="submit") Sign Up
                        a(href="") I'm already member

