.su-wrapper
    .su-panel
        .su-panel--half.su-panel--left
            .su-panel--logo
            .su-panel--title
        .su-panel--half.su-panel--right
            .su-panel--top
                ul.su-sign--toggle
                    li.su-sign--in Sign In
                    li.su-sign--up.active Sign Up
            .su-panel--content
