.spinner-wrapper
    .spinner
        .spinner-circle.center-circle
        .spinner-part.spinner-part--top
            .spinner-circle
            .spinner-line
        .spinner-part.spinner-part--right
            .spinner-circle
            .spinner-line
        .spinner-part.spinner-part--bottom
            .spinner-line
            .spinner-circle
            
        .spinner-part.spinner-part--left
            .spinner-circle
            .spinner-line