
<div class="bm-wrapper">
  <div class="bm-panel">
    <div class="bm-panel--content">
      <div class="bm-panel--header"><span>Lorem ipsum doler</span>
        <h2>Become a member</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo modi aut tempore quis ipsa deserunt assumenda, natus cumque quia ducimus?</p>
      </div>
      <div class="bm-panel--signup"><a href="" class="bm-social--signup bm-social--signup__googleplus">
          <div class="bm-social--signup__icon"><i class="fa fa-google-plus"></i></div>
          <div class="bm-social--signup__text"><span>Sign Up using google +</span></div></a><a href="" class="bm-social--signup bm-social--signup__facebook">
          <div class="bm-social--signup__icon"><i class="fa fa-facebook"></i></div>
          <div class="bm-social--signup__text"><span>Sign Up using Facebook</span></div></a><a href="" class="bm-social--signup bm-social--signup__twitter">
          <div class="bm-social--signup__icon"><i class="fa fa-twitter"></i></div>
          <div class="bm-social--signup__text"><span>Sign Up using Twitter</span></div></a></div>
      <div class="bm-panel--footer">
        <p>You can also sign in using an email adress</p><a href="">Use Your Email <i class="fa fa-arrow-right"></i></a>
      </div>
    </div>
    <div class="bm-panel--thumbnail"></div>
  </div>
</div>