
<div class="cp-wrapper">
  <div class="cp-panel">
    <div class="cp-card">
      <div class="cp-card--thumbnail"></div>
      <div class="cp-card--content">
        <h3 class="cp-card--course">Project Management</h3>
        <div class="cp-card--price">$28.99</div>
        <div class="cp-card--list">
          <div class="cp-card--students cp-card--list__item"><i class="fa fa-users cp-card--icon"></i>
            <div class="cp-card--number">5.8k</div>
            <div class="cp-card--name">Students</div>
          </div>
          <div class="cp-card--rating cp-card--list__item"><i class="fa fa-star cp-card--icon"></i>
            <div class="cp-card--number">5.0</div>
            <div class="cp-card--name">Rating</div>
          </div>
          <div class="cp-card--lectures cp-card--list__item"><i class="fa fa-graduation-cap cp-card--icon"></i>
            <div class="cp-card--number">37</div>
            <div class="cp-card--name">Lectures</div>
          </div>
        </div>
      </div><a href="#" class="cp-card--link"><i class="fa fa-angle-down"></i></a>
    </div>
    <div class="cp-panel--bottom"><a href="#"><i class="fa fa-angle-up"></i><span>Swipe up to see course contents</span></a></div>
  </div>
</div>