
<header class="page-header">
  <div class="page-header--30">
    <div class="page-header--logo">
      <h1>Search Recipe</h1>
    </div>
  </div>
  <div class="page-header--70">
    <nav class="page-header--nav">
      <ul class="page-header--nav__list">
        <li><a href="index.html" class="active">Поиск</a></li>
        <li><a href="recomendations.html">Рекомендации</a></li>
        <li><a href="featured.html">Featured</a></li>
        <li><a href="blog.html">Блог</a></li>
        <li><a href="About.html">О нас</a></li>
      </ul>
    </nav>
  </div>
</header>