
<div class="li-wrapper">
  <div class="li-panel">
    <div class="li-panel--left">
      <h2 class="li-panel--title">Don't Have an Account?</h2>
      <p>Lorem ipsum dolor sit amet. ipsum dolor sit amet, consectetur adipisicing elit. Quia, placeat!</p><a href="#" class="li-sign-up">Sign Up</a>
    </div>
    <div class="li-panel--right">
      <h2 class="li-panel--title">Log In</h2>
      <form class="li-panel--form">
        <div class="li-form--group">
          <input type="email" placeholder="E-mail"/>
        </div>
        <div class="li-form--group">
          <input type="password" placeholder="password"/>
        </div>
        <div class="li-form--bottom"><a href="">Forgot password?</a>
          <button type="submit" class="li-submit--btn">Log In</button>
        </div>
      </form>
    </div>
  </div>
</div>