
<div class="hh-login">
  <div class="hh-login--content">
    <div class="hh-login--header">
      <div class="hh-login--logo"><img src="https://wiki.duraspace.org/download/attachments/31655033/duracloud_logo_12in.png?version=1&amp;modificationDate=1329183208810&amp;api=v2" alt=""/></div>
      <div class="hh-login--text">Welcome to HouseHoot</div>
    </div>
    <div class="hh-login--body">
      <form action="" method="POST" class="hh-login--form">
        <div class="hh-login--group">
          <input type="e-mail" placeholder="Email..."/>
        </div>
        <div class="hh-login--group">
          <input type="password" placeholder="Password..."/>
        </div>
        <div class="hh-login--group"><a href="#" title="Forgot your Pass?">Forgot your Password?</a></div>
        <div class="hh-login--group">
          <button type="submit">Sign In </button>
        </div>
      </form>
    </div>
    <div class="hh-login--footer"><a href="#" title="title">Need an account?</a><a href="#" title="title">Learn More</a></div>
  </div>
</div>