
<div class="mc-wrapper">
  <div class="mc-headers">
    <div class="mc-b--header">
      <div class="mc-b--top">
        <div class="mc-nav--toggle"><i class="fa fa-bars"></i></div>
        <div class="mc-h--logo"><span>Multicolor</span>
          <p>user interface kit</p>
        </div>
        <ul class="mc-b--social">
          <li><a href=""><i class="fa fa-twitter"></i></a></li>
          <li><a href=""><i class="fa fa-facebook"></i></a></li>
          <li><a href=""><i class="fa fa-github"></i></a></li>
        </ul>
      </div>
      <div class="mc-b--bottom">
        <nav class="mc-b--nav">
          <ul class="mc-nav--list">
            <li><a href="">Woman</a></li>
            <li><a href="">Man</a></li>
            <li><a href="">Lookbook</a></li>
            <li><a href="">Sale</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="mc-c--header">
      <div class="mc-nav--toggle"><i class="fa fa-bars"></i></div>
      <nav class="mc-c--nav">
        <ul class="mc-nav--list">
          <li><a href="">Woman</a></li>
          <li><a href="">Man</a></li>
          <li><a href="">Lookbook</a></li>
          <li class="mc-h--logo"><span>Multicolor</span>
            <p>user interface kit</p>
          </li>
          <li><a href="">Sale</a></li>
          <li><a href="">Blog</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </nav>
      <ul class="mc-b--social">
        <li><a href=""><i class="fa fa-twitter"></i></a></li>
        <li><a href=""><i class="fa fa-facebook"></i></a></li>
      </ul>
    </div>
  </div>
</div>