
<div class="page-search">
  <div class="page-search--container">
    <div class="page-search--head">
      <h2 class="page-search--title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
      <p class="page-search--sub">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias possimus voluptates asperiores quos et nisi voluptatibus ipsam aperiam a facere neque voluptate officiis suscipit est nulla, velit blanditiis laborum molestiae. ipsum dolor sit amet, consectetur adipisicing elit. Modi, sequi.</p>
      <p class="page-search--sub">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias possimus voluptates asperiores quos et.</p>
    </div>
    <div class="page-search--content">
      <form class="page-search--form">
        <div class="page-search--form__group">
          <input type="text" placeholder="Search" class="page-search--form__field"/>
        </div>
      </form>
    </div>
  </div>
</div>