
<div class="su-wrapper">
  <div class="su-panel">
    <div class="su-panel--half su-panel--left">
      <div class="su-panel--logo"></div>
      <div class="su-panel--title"></div>
    </div>
    <div class="su-panel--half su-panel--right">
      <div class="su-panel--top">
        <ul class="su-sign--toggle">
          <li class="su-sign--in">Sign In</li>
          <li class="su-sign--up active">Sign Up</li>
        </ul>
      </div>
      <div class="su-panel--content"></div>
    </div>
  </div>
</div>