
<div class="su-wrapper">
  <div class="su-panel">
    <div class="su-panel--half su-panel--left">
      <div class="su-panel--logo"><i class="fa fa-graduation-cap"></i></div>
      <div class="su-panel--title">Plan your activites and control your progress online</div>
    </div>
    <div class="su-panel--half su-panel--right">
      <div class="su-panel--top">
        <ul class="su-sign--toggle">
          <li class="su-sign--in">Sign In</li>
          <li class="su-sign--up active">Sign Up</li>
        </ul>
      </div>
      <div class="su-panel--content">
        <div class="su-panel--title">Sign Up for FREE!</div>
        <form class="su-panel--form">
          <div class="su-form--group">
            <label>Full Name</label>
            <input type="text" placeholder="Enter your full name"/>
          </div>
          <div class="su-form--group">
            <label>Password</label>
            <input type="password" placeholder="********"/>
          </div>
          <div class="su-form--group">
            <label>E-mail</label>
            <input type="email" placeholder="Your e-mail goes here"/>
          </div>
          <div class="su-form--group su-statements">
            <input type="checkbox"/><span>I agree all statements of</span><a href=""> terms of service</a>
          </div>
          <div class="su-form--group su-sign--btn">
            <button type="submit">Sign Up</button><a href="">I'm already member</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>