
<div class="spinner-wrapper">
  <div class="spinner">
    <div class="spinner-circle center-circle"></div>
    <div class="spinner-part spinner-part--top">
      <div class="spinner-circle"></div>
      <div class="spinner-line"></div>
    </div>
    <div class="spinner-part spinner-part--right">
      <div class="spinner-circle"></div>
      <div class="spinner-line"></div>
    </div>
    <div class="spinner-part spinner-part--bottom">
      <div class="spinner-line"></div>
      <div class="spinner-circle"></div>
    </div>
    <div class="spinner-part spinner-part--left">
      <div class="spinner-circle"></div>
      <div class="spinner-line"></div>
    </div>
  </div>
</div>