
<div class="tl-wrapper">
  <div class="tl-panel">
    <div class="tl-panel--top">
      <div class="tl-panel--header">
        <div class="tl-nav--toggle"><span class="toggle-line toggle-line-1"></span><span class="toggle-line toggle-line-2"></span><span class="toggle-line toggle-line-3"></span></div>
        <div class="tl-header--title">Travle Log</div>
        <div class="tl-search--toggle"><i class="fa fa-search"></i></div>
      </div>
      <ul class="tl-panel--categories">
        <li><a href="#" class="active">Dynamic</a></li>
        <li><a href="#">Attention</a></li>
        <li><a href="#">Subscription</a></li>
      </ul>
    </div>
    <div class="tl-panel--content">
      <div class="tl-panel--cards">
        <div class="tl-featured--card">
          <div class="tl-fc--top"><a href="#" class="tl-fc--title">Open Yours dream of the Trip</a></div>
          <div class="tl-fc--bottom">
            <div class="tl-fc--cat"><span>Romantic</span><span>City</span><span>Travel</span><span>Plan</span></div>
            <div class="tl-fc--year">2017</div>
          </div>
        </div>
        <div class="tl-card">
          <div class="tl-card--left">
            <div class="tl-card--thumb"></div>
          </div>
          <div class="tl-card--right">
            <div class="tl-card--header">
              <div class="tl-card--user">
                <div class="tl-card--user__name">Annabelle</div>
                <div class="tl-card--user__quoute">It is never too late to learn</div>
              </div>
              <div class="tl-card--plus"><i class="fa fa-plus"></i></div>
            </div>
            <div class="tl-card--content"><a href="#" class="tl-card--excerpt">Hangzhou is a suitable place to live, a beautiful environment</a></div>
            <div class="tl-card--footer"><span class="number">3,256</span><span>People Reading</span></div>
          </div>
        </div>
        <div class="tl-card">
          <div class="tl-card--left">
            <div class="tl-card--thumb"></div>
          </div>
          <div class="tl-card--right">
            <div class="tl-card--header">
              <div class="tl-card--user">
                <div class="tl-card--user__name">Annabelle</div>
                <div class="tl-card--user__quoute">It is never too late to learn</div>
              </div>
              <div class="tl-card--plus"><i class="fa fa-plus"></i></div>
            </div>
            <div class="tl-card--content"><a href="#" class="tl-card--excerpt">Hangzhou is a suitable place to live, a beautiful environment</a></div>
            <div class="tl-card--footer"><span class="number">3,256</span><span>People Reading</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="tl-panel--bottom">
      <nav class="tl-panel--nav">
        <ul class="tl-panel--list">
          <li><a href="#"><i class="fa fa-home"></i></a></li>
          <li><a href="#"><i class="fa fa-pencil"></i></a></li>
          <li><a href="#"><i class="fa fa-user"> </i></a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>