
<div class="wa-wrapper">
  <header class="wa-header">
    <div class="wa-container">
      <div class="wa-header--logo"><span>B</span></div>
      <nav class="wa-header--nav">
        <ul class="wa-header--list">
          <li><a href="#">Today</a></li>
          <li><a href="#">Portrait</a></li>
          <li><a href="#">Map</a></li>
          <li><a href="#">Write</a></li>
          <li><a href="#">Reference</a></li>
          <li><a href="#">Directory</a></li>
        </ul>
      </nav>
      <div class="wa-header--dash"><span></span></div>
    </div>
  </header>
  <div class="wa-content">
    <div class="wa-container">
      <div class="wa-content--weather">
        <div class="wa-content--container">
          <div class="wa-weather--meta">
            <div class="wa-weather--date">9. July 2016</div>
            <div class="wa-weather--city">Stockholm</div>
            <div class="wa-weather--country">Sweden</div>
          </div>
          <div class="wa-weather--cards">
            <div style="background-image: url(http://img09.deviantart.net/958b/i/2011/146/2/7/cloudy_weather_by_enricotasca-d3h979v.jpg)" class="wa-weather--card">
              <div class="wa-card--top">
                <div class="wa-card--status">Now</div>
                <div class="wa-card--deg"><span class="number">13</span><span class="circle"></span></div>
                <div class="wa-card--desc">partly cloudy</div>
              </div>
              <div class="wa-card--bottom"><a href="#">Details</a></div>
            </div>
            <div style="background-image: url(https://cdn.agriland.ie/uploads/2016/03/epic-sunset-part-2-1024x662.jpg)" class="wa-weather--card">
              <div class="wa-card--top">
                <div class="wa-card--status">Later</div>
                <div class="wa-card--deg"><span class="number">21</span><span class="circle"></span></div>
                <div class="wa-card--desc">sunny</div>
              </div>
              <div class="wa-card--bottom"><a href="#">Details</a></div>
            </div>
            <div style="background-image: url(https://cdn.agriland.ie/uploads/2016/03/epic-sunset-part-2-1024x662.jpg)" class="wa-weather--card">
              <div class="wa-card--top">
                <div class="wa-card--status">tomorrow</div>
                <div class="wa-card--deg"><span class="number">21</span><span class="circle"></span></div>
                <div class="wa-card--desc">sunny</div>
              </div>
              <div class="wa-card--bottom"><a href="#">Details</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wa-author--container">
      <div class="wa-author--content">
        <div class="wa-author--thumb"></div>
        <div class="wa-author--name">Matthew McConaughey</div>
        <div class="wa-author--text">Matthew McConaughey is an American actor known for roles in films like Dazed and Confused and Dallas Buyers Club.</div>
        <div class="wa-author--tags"><span>#social</span><span>#correspodence</span><span>#firstperson</span><span>#english</span><span>#danish</span><span>#thirdperson</span></div>
        <div class="wa-profile--link"><a href="#">profile</a></div>
      </div>
    </div>
  </div>
</div>